PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zerbis
JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES_IN=8h

# Lista separada por coma con tablas permitidas para exponer vía API dinámica
TABLES_ALLOWED=users,roles,permissions,user_roles,role_permissions

# Configuración de tabla/columnas de usuarios para login
USERS_TABLE=users
USER_ID_COLUMN=id
USER_NAME_COLUMN=user
USER_PASSWORD_COLUMN=password
USER_STATUS_COLUMN=active
USER_PERMISSIONS_COLUMN=permissions
